* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
    font-family:'Montserrat';
    font-weight: 400;
    color: #23232B;
    font-size: 15px;
 }

 li {
    list-style-type: none;
  }

  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .container {
    background-image: url(/static/assets/img/contacts-bg-image.jpg);
    background-size: cover;
    height: 100%;
    position: relative;
    width: 100%;
  }

  .header {
    height: 70px;
    width: 100%;
  }

  .nav-brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
 }

 .logo {
  padding-left: 100px;
  }

  .navbar {
  display: flex;
  flex-direction: row;
  }

  .nav-link {
    padding-right: 54px;
 }

  .nav-link a {
    color: #23232B;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
  }

  .nav-link a:hover{
    color: #976415;
  }

  .is-active {
    margin-top: 5px;
    margin-right: 5px;
  }

  .LK a{
    margin-right: 120px;
    color: #23232B;
  }

  .LK a:hover{
    color: #976415;
  }

  .phone-button {
    border-radius: 20px;
    background: #23232B;
    border: 0;
    color: white;
    align-items: center;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
  }

  .phone-button:hover {
    background: #C8B68E;
    border-radius: 20px;
    border: 0;
    color: #23232B;
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
  }

  hr {
    border: 1px solid #666666;
    width: 1350px;
    margin-left: 50px;
    margin-right: 45px;
    margin-top: 35px;
  }

  .title-page {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #23232B;
    padding-top: 55px;
    margin-left: 100px;
  }

  .icon-serf {
    margin-bottom: 30px;
  }

  .section1-elements {
    display: flex;
    flex-direction: column;
    float: right;
    padding-right: 120px;
  }

  .ic-vec {
    width: 30px;
    height: 30px;
    margin-right: 24px;
  }

  .ic-text {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #23232B;
    width: 537px;
    height: 40px;
  }

  .icon-text {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }

  .block1 {
    margin-left: 100px;
    margin-top: 45px;
  }

  .block2 {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 100px;
  }

  .Ic-bl2 {
    margin-right: 25px;
    width: 27.31px;
    height: 27.31px;
  }

  .content {
    display: flex;
    flex-direction: row;
  }

  .map {
    width: 100%;
    margin-top: 30px;
  }

  .title2-page {
    font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  color: #23232B;
  margin-left: 100px;
  margin-top: 50px;
  }

  .rek-bl1 {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #23232B;
    width: 390px;

  }

  .rek-bl2 {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #23232B;
  }

  .rekviz {
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    padding-right: 300px;
    padding-top: 15px;
    padding-bottom: 70px;
  }

  .idTop{
    display: flex;
    justify-content: right;
    padding-right: 50px;

  }

  .footer {
    background-color: #23232B;
    background-size: cover;
    height: 300px;
    position: relative;
  }

  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    padding-right: 150px;
  }

  .logo-f {
   padding-left: 100px;
   padding-bottom: 60px;
  }

  .navbar-footer {
    display: flex;
    flex-direction: column;
  }

  .social-media-1 {
    display: flex;
    flex-direction: row;
    padding-bottom: 25px;
  }

  .social-media-blok {
    display: flex;
    flex-direction: column;
  }

  .social-img {
    padding-right: 25px;
  }

  .nav-link-f {
   padding-bottom: 20px;
  }

  .nav-link-f a {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
  }

  .nav-link-f a:hover{
    color: #C8B68E;
  }

  .contakts-footer {
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
  }

  .mail {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
  }

  .phone-f {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #E3D7BD;
  }

  .phone-f:hover {
    color: #FFFFFF;
  }

  @media screen and (min-width: 1750px){


    .HD {
      padding-left: 100px;

    }
    hr {

      width: 1450px;
      margin-right: 75px;
    }

    .LK {
      margin-right: 400px;

    }

    .section1-elements {
      margin-right: 460px;
    }

    .footer-content {
      margin-right: 300px;
      margin-left: 80px;
    }


  }

  @media screen and (max-width: 1300px) {

    hr {

      width: 1120px;
      margin-left: 50px;
      margin-right: 30px;
      margin-top: 35px;
    }

    .promo {
      margin-right: 120px;
    }


  }

